.room-item {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 90px;
	aspect-ratio: 1;
	border-radius: var(--border-radius);
	color: var(--color-blue);
	background-color: var(--color-light-blue);
	border: 1px solid var(--color-blue);
}

.status-booked {
	color: var(--color-light-gray);
	border-color: var(--color-light-gray);
}
