@font-face {
	font-family: PJS; /* Название */
	src: url(./fonts/Plus-Jakarta-Sans/PlusJakartaSans-ExtraLight.woff2)
		format('woff2'); /* Путь к файлу со шрифтом */
	font-weight: 200; /* Начертание/жирность/вес */
	font-style: normal; /* Наклон */
	font-display: swap; /* Если шрифт тяжёлый, покажется шрифт по умолчанию, после чего подгрузится и будет показываться этот */
}

@font-face {
	font-family: PJS;
	src: url(./fonts/Plus-Jakarta-Sans/PlusJakartaSans-Light.woff2) format('woff2');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: PJS;
	src: url(./fonts/Plus-Jakarta-Sans/PlusJakartaSans-Regular.woff2) format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: PJS;
	src: url(./fonts/Plus-Jakarta-Sans/PlusJakartaSans-Medium.woff2) format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: PJS;
	src: url(./fonts/Plus-Jakarta-Sans/PlusJakartaSans-SemiBold.woff2) format('woff2');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: PJS;
	src: url(./fonts/Plus-Jakarta-Sans/PlusJakartaSans-Bold.woff2) format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: PJS;
	src: url(./fonts/Plus-Jakarta-Sans/PlusJakartaSans-ExtraBold.woff2) format('woff2');
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	height: 100%;
}

html,
:has(:target) {
	scroll-behavior: smooth;
}

body {
	min-height: 100%;

	line-height: 1.5;
}

body,
:where(blockquote, figure):where([class]) {
	margin: 0;
}

:where(ul, ol):where([class]) {
	padding-left: 0;
}

:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
	margin-block: 0;
}

:where(dd[class]) {
	margin-left: 0;
}

:where(fieldset[class]) {
	margin-left: 0;
	padding: 0;
	border: none;
}

:where(ul[class]) {
	list-style: none;
}

:where(address[class]) {
	font-style: normal;
}

p {
	--paragraphMarginBottom: 24px;

	margin-block: 0;
}

p:where(:not([class]):not(:last-child)) {
	margin-bottom: var(--paragraphMarginBottom);
}

img {
	display: block;
	max-width: 100%;
}

input,
textarea,
select,
button {
	font: inherit;
}

svg *[fill] {
	fill: currentColor;
}

svg *[stroke] {
	stroke: currentColor;
}

svg * {
	transition-property: fill, stroke;
}

.visually-hidden {
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	margin: -1px !important;
	border: 0 !important;
	padding: 0 !important;
	white-space: nowrap !important;
	clip-path: inset(100%) !important;
	clip: rect(0 0 0 0) !important;
	overflow: hidden !important;
}

@media (prefers-reduced-motion: reduce) {
	* {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}
